body{
    background-color: #b7cadb;
    text-align: center;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
}
.icon{margin-top :-19px;
margin-right: 775px;}
.logo{
    background-color: rgb(34 34 34 / 85%);;
    position: fixed;
    right: 0;
    left: 0;
 top: 0;
}
}